@import '../../variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.mainpage {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    font-family: "Itim", cursive;

    &__text {
        font-size: 20px;
    }

    &__cards {
        display: flex;
        gap: 2em;
    }

    &__additionalinfo {
        font-size: 20px;
        gap: 3em;
    }
}

.redirect__wordlist,
.redirect__topics {
    display: flex;
    gap: 2em;
}