@import '../../variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.table {
    margin: 0 auto;
    width: 1000px;
    border: none;
    margin-bottom: 20px;
}

.head {
    font-family: "Itim", cursive;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    background-color: $button-background;
    border-radius: 8px;
    border: none;
    padding: 10px 15px;
}