@import './variables.scss';

body {
    margin: 0;
    background-color: $maincolor;
    text-align: center;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

.main {
    padding-left: 15px;
    padding-right: 15px;
}